@font-face {
  font-family: 'Helvetica Now Display';
  src: url('assets/fonts/HelveticaNowDisplay.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url('assets/fonts/HelveticaNowDisplayBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url('assets/fonts/HelveticaNowDisplayXBd.ttf');
  font-weight: 650;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url('assets/fonts/HelveticaNowDisplayBlack.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Text';
  src: url('assets/fonts/HelveticaNowText.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Text';
  src: url('assets/fonts/HelveticaNowTextMedium.ttf');
  font-weight: 300;
  font-style: normal;
}
