<p>cpe-article works!</p>

<section
>
    <div
    style="
    display: grid;
    align-items: center;
    /* grid-template-columns: repeat(3, minmax(427px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(427px, 1fr));

">
    <article 
        style="
            border: 1px solid rgba(0, 0, 0, 0.8);
        "
    >
        <div 
            style="margin: 0 auto; width: 427px; border: 1px solid blue"
        >
                <!-- Hero Image -->
            <div
                style="height: 215px; width: 100%; background: '#F5F5F5'"
            ></div>
            
            <!-- Body -->
            <div class="container">
                <p
                    class="date"
                >
                    May 8, 1926
                </p>

                <h2
                    class="title"
                >
                Article Title
                </h2>

                <div class="tag-container">
                    <div class="col">
                            <button
                                class="rectangle events"
                            >
                                Events
                            </button>
                        </div>

                        <div class="col">

                            <button
                                class="rectangle events"
                            >
                                Spotlight
                            </button>

                        </div>
                        <div class="col">

                            <button
                                class="rectangle events"
                            >
                                News
                            </button>
                        </div>

                </div>

                <div>
                    <p
                        class="description-copy"
                    >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                        ullamco laboris...
                    </p>
                </div>

                <a
                    href='#'
                    class="text-button learn-more"
                    isPrimary
                >
                    CTA Button
                </a>
            </div>
        </div>
    </article>



    <article 
        style="
            border: 1px solid rgba(0, 0, 0, 0.8);
        "
    >
        <div 
            style="margin: 0 auto; width: 427px; border: 1px solid blue"
        >
                <!-- Hero Image -->
            <div
                style="height: 215px; width: 100%; background: '#F5F5F5'"
            ></div>
            
            <!-- Body -->
            <div class="container">
                <p
                    class="date"
                >
                    May 8, 1926
                </p>

                <h2
                    class="title"
                >
                Article Title
                </h2>

                <div class="tag-container">
                    <div class="col">
                            <button
                                class="rectangle events"
                            >
                                Events
                            </button>
                        </div>

                        <div class="col">

                            <button
                                class="rectangle events"
                            >
                                Spotlight
                            </button>

                        </div>
                        <div class="col">

                            <button
                                class="rectangle events"
                            >
                                News
                            </button>
                        </div>

                </div>

                <div>
                    <p
                        class="description-copy"
                    >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                        ullamco laboris...
                    </p>
                </div>

                <a
                    href='#'
                    class="text-button learn-more"
                    isPrimary
                >
                    CTA Button
                </a>
            </div>
        </div>
    </article>
    <article 
        style="
            border: 1px solid rgba(0, 0, 0, 0.8);
        "
    >
        <div 
            style="margin: 0 auto; width: 427px; border: 1px solid blue"
        >
                <!-- Hero Image -->
            <div
                style="height: 215px; width: 100%; background: '#F5F5F5'"
            ></div>
            
            <!-- Body -->
            <div class="container">
                <p
                    class="date"
                >
                    May 8, 1926
                </p>

                <h2
                    class="title"
                >
                Article Title
                </h2>

                <div class="tag-container">
                    <div class="col">
                            <button
                                class="rectangle events"
                            >
                                Events
                            </button>
                        </div>

                        <div class="col">

                            <button
                                class="rectangle events"
                            >
                                Spotlight
                            </button>

                        </div>
                        <div class="col">

                            <button
                                class="rectangle events"
                            >
                                News
                            </button>
                        </div>

                </div>

                <div>
                    <p
                        class="description-copy"
                    >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                        ullamco laboris...
                    </p>
                </div>

                <a
                    href='#'
                    class="text-button learn-more"
                    isPrimary
                >
                    CTA Button
                </a>
            </div>
        </div>
    </article>
 
    <article 
        style="
            border: 1px solid rgba(0, 0, 0, 0.8);
        "
    >
        <div 
            style="margin: 0 auto; width: 427px; border: 1px solid blue"
        >
                <!-- Hero Image -->
            <div
                style="height: 215px; width: 100%; background: '#F5F5F5'"
            ></div>
            
            <!-- Body -->
            <div class="container">
                <p
                    class="date"
                >
                    May 8, 1926
                </p>

                <h2
                    class="title"
                >
                Article Title
                </h2>

                <div class="tag-container">
                    <div class="col">
                            <button
                                class="rectangle events"
                            >
                                Events
                            </button>
                        </div>

                        <div class="col">

                            <button
                                class="rectangle events"
                            >
                                Spotlight
                            </button>

                        </div>
                        <div class="col">

                            <button
                                class="rectangle events"
                            >
                                News
                            </button>
                        </div>

                </div>

                <div>
                    <p
                        class="description-copy"
                    >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                        ullamco laboris...
                    </p>
                </div>

                <a
                    href='#'
                    class="text-button learn-more"
                    isPrimary
                >
                    CTA Button
                </a>
            </div>
        </div>
    </article>

    
 
  
</div> 
</section>