p, h2{
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 20px;

}

.article {

}

.date {
    height: 18px;
    width: 382px;
    color: #7A9ECD;
    font-family: "Helvetica Now Text";
    font-size: 10px;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: 0;
}

.text-button {
    height: 24px;
    width: 84px;

    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.learn-more {
    // height: 22px;
    // width: 70px;
    color: #459AFF;
    font-family: "Helvetica Now Text";
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22px;
    text-decoration: none;
  }

  .title {
    height: 30px;
    width: 382px;
    color: #464A54;
    font-family: "Helvetica Now Text";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .rectangle {
    box-sizing: border-box;
    border: 1px solid #C4C9D4;
    border-radius: 4px;


  }

  .events {
    color: #459AFF;
    font-family: "Helvetica Now Text";
    font-size: 10px;
    letter-spacing: 0;
    line-height: 19px;
  }

  .tag-container {
    display: flex;
    align-items: flex-start;

    margin:0 -3px;
  }
  .col {
    padding:0 3px;
  }

  .description-copy {
    height: 78px;
    width: 382px;
    color: #464A54;
    font-family: "Helvetica Now Text";
    font-size: 13px;
    letter-spacing: 0;
    line-height: 22px;
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}