<p>cpe-article works!</p>
<div
    style="display: flex; width: 100%; align-items: flex-start;"
>
    <div
        style="width: 33.33%; margin: 0 auto"
    >
        <div style="padding: 30px">
            
            <div
                style="height: 215px; width: 100%; background: '#F5F5F5'"
            ></div>

            <p
                class="date"
            >
                May 8, 1926
            </p>
            <p>{{backgroundColor}}</p>

            <h2
                class="title"
            >
            Article Title
            </h2>

            <div class="tag-container">
                <div class="col">
                        <button
                            class="rectangle events"
                        >
                            Events
                        </button>
                    </div>

                    <div class="col">

                        <button
                            class="rectangle events"
                        >
                            Spotlight
                        </button>

                    </div>
                    <div class="col">

                        <button
                            class="rectangle events"
                        >
                            News
                        </button>
                    </div>

            </div>

            <div>
                <p
                    style="
                        font-family: '-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif';
                        font-size: 13;
                        margin-bottom: 8;
                    "
                >
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris...
                </p>
            </div>

            <Button
                class="text-button learn-more"
                isPrimary
            >
                CTA Button
            </Button>
        </div>
    </div>

























    <!-- NEW -->
    <div
    style="width: 33.33%; margin: 0 auto"
>
    <div style="padding: 30px">
        
        <div
            style="height: 215px; width: 100%; background: '#F5F5F5'"
        ></div>

        <p
            style="
                font-family: '-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif';
                font-size: 13;
                margin-bottom: 8;
            "
        >
            May 8, 1926
        </p>

        <h2
            class="title"
        >
        Article Title
        </h2>

        <div>

                    <button
                        isSecondary
                    >
                        Events
                    </button>

                    <button
                        isSecondary
                    >
                        Spotlight
                    </button>

                    <button
                        isSecondary
                    >
                        News
                    </button>

        </div>

        <div>
            <p
                style="
                    font-family: '-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif';
                    font-size: 13;
                    margin-bottom: 8;
                "
            >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                ullamco laboris...
            </p>
        </div>

        <Button
            isPrimary
        >
            CTA Button
        </Button>
    </div>
</div>

<!-- New -->

<div
style="width: 33.33%; margin: 0 auto"
>
<div style="padding: 30px">
    
    <div
        style="height: 215px; width: 100%; background: '#F5F5F5'"
    ></div>

    <p
        style="
            font-family: '-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif';
            font-size: 13;
            margin-bottom: 8;
        "
    >
        May 8, 1926
    </p>

    <h2
        class=""
        style="
            font-family: '-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif';
            margin-top: 8;
            margin-bottom: 8;
        "
    >
    Article Title
    </h2>

    <div>

                <button
                    isSecondary
                >
                    Events
                </button>

                <button
                    isSecondary
                >
                    Spotlight
                </button>

                <button
                    isSecondary
                >
                    News
                </button>

    </div>

    <div>
        <p
            style="
                font-family: '-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif';
                font-size: 13;
                margin-bottom: 8;
            "
        >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
            ullamco laboris...
        </p>
    </div>

    <Button
        isPrimary
    >
        CTA Button
    </Button>
</div>
</div>
</div>